{% extends 'base.html.twig' %}

{% block body %}
    <p>
        {{ 'global.email.change_password_text'|trans }}
        {% set link = "http://localhost:8222" ~ path('user_change_password', {'token': token}) %}
        <a href="{{ link }}">
            {{ link }}
        </a>
    </p>
{% endblock %}