{% extends 'base.html.twig' %}

{% block body %}
    <p>
        {{ 'change_password_text'|trans }}

        <a href="http://localhost:8222{{ path('app_change_password', {'token': token}) }}">
            {{ 'change_password_text_link'|trans }}
        </a>
    </p>
{% endblock %}