{% extends 'base.html.twig' %}

{% block title %}{{ 'global.label.change_password'|trans }}{% endblock %}

{% block main_content %}
    <div class="row justify-content-center">
        <div class="col-5">
            <div class="flex-wrap">
                <div class="border p-4 p-md-5">
                    <div class="d-flex">
                        <div class="w-100">
                            <h3 class="mb-4">{{ 'global.label.change_password'|trans }}</h3>
                        </div>
                    </div>
                    {{ form(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}