{% extends 'base.html.twig' %}

{% block body %}
<p>
    {{ 'global.email.validate_text'|trans }}
    {% set link = "http://localhost:8222" ~ path('user_validate_email', {'token': token}) %}
    <a href={{ link }}>
        {{ link }}
    </a>
</p>
{% endblock %}